{% extends "layout.html" %}
{% block content %}
<h2>Your Bookings</h2>
<a href="{{ url_for('bookings.new_booking') }}">New Booking</a>
<table border="1">
    <tr>
        <th>Type</th><th>Start</th><th>End</th><th>Duration</th><th>Status</th><th>Notes</th>
    </tr>
    {% for b in bookings %}
    <tr>
        <td>{{ b[2] }}</td>
        <td>{{ b[3] }}</td>
        <td>{{ b[4] }}</td>
        <td>{{ b[5] }}</td>
        <td>{{ b[6] }}</td>
        <td>{{ b[7] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
